<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mars data</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">

    <div class = "jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find more Mars data</a></p>
    </div>
    <div class = "row">
        <div class = "col-md-12">
      
          <h2>Latest Mars News</h2>

          <h4>{{mars_info.mars_headlines.0}}</h4>
              <p>{{mars_info.news_desc.0}}</p>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-7 mr-auto"  >
        
          <figure>
            <figcaption><h3>Featured Mars Image</h3></figcaption>
            <img class = "img-fluid" src = "{{mars_info.featured_img}}" alt = "mars featured image"></img>
          </figure>

      </div>
        <div class = "col-md-5 ml-auto facts" > 
          <div class = "card">
            <h4 style = "margin-left: 5px;">Current Weather on Mars</h4>
            <p style = "margin-left: 5px;">{{mars_info.weather}}</p>
          </div>
          
          <h4>Mars Facts</h4>

            <table class = "table table-bordered table-sm">
              <th>
                <tr>
                  <td><strong>Fact</strong></td>
                  <td><strong>Value</strong></td>
                </tr>
              </th>
              <tbody> 
                <tr>
                    {% for fact, value in mars_info.mars_facts.items() %}
                    
                      <td>{{fact}} </td>
                      <td>{{value}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 

          
        </div>


    </div>

    <div class = "row">
      
      {% for title, pic in mars_info.mars_hemispheres.items() %}
        <div class = " col-md-5 mx-auto">
            
                

                <ul class = "list-inline">
                  <li style = "padding-top:10px;">
                    <figure>
                        <img src="{{pic}}" style = "width:400px;height:400px;" alt="Mars hemisphere"></img>
                          <figcaption><h5>{{title}}</h5></figcaption>

                    </figure>
                    
                  </li>
                   
                </ul> 
             
               
          </div>
          {% endfor %}
          </div>
        </div>
      
      </div>
  </div>

    
   
  </div>

</div>
</body>

</html>

